.header_container{
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    border: none;
    background:	#383838;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    div{
        cursor: pointer;
    }
    .avatar{
        background: white;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: whitesmoke;
        color: black;
        display: grid;
        place-content: center;
    }
}