.manage_container{
    margin-top: 90px;
    color: white;
    .manage_actions{
        width: 80%;
        margin: 0 auto;
        min-height: 600px;
        background: #383838;
        padding: 20px;
     
        .actions{
            button{
                width: 150px;
                margin-right: 10px;
                padding: 10px;
            }
            margin-bottom: 20px;
        }
    }
    .manage_product_container{
        .add_action{
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
           button{
            width: 150px;
                margin-right: 10px;
                height: 50px;
                background: black;
                color: white;
                border: 1px solid white;
                cursor: pointer;
           }
        }
        .product_table{
            #products {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              td:last-of-type{
                text-align: center;
                
              }
              #products td{
                .actionbtn{
                    display: flex;
                    gap: 8px;
                    justify-content: center;
                    .btn{
                        cursor: pointer;
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        padding: 4px;
                        display: flex;
                        justify-content: center;
                        background-color: rgb(0, 0, 0);

                    }
                    .edit{
                        
                        color: green;
                        
                    }
                    .delete{
                        
                        color: red;
                        
                    }
                    .restore{
                        color:whitesmoke
                    }
                }
              }
              #products td, #products th {
                border: 1px solid #ddd;
                padding: 8px;
                &:last-of-type{
                    text-align: center;
                }
              }
              
              #products tr:nth-child(even){background-color: #6e6e6e8c;color:white;}
              
              
              #products th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: black;
                color: white;
              }
        }


    }
    .add_new_product{
        width: 400px;
        height: 100vh;
        position: fixed;
        top: 0;
        z-index: 200;
        bottom: 0;
        background: black; 
        padding: 20px;
        right: 0;
        transition: all 0.5s ease;
        &.show{
            right: 0;
        }
        &.hide{
            right: -400px;
        }
        h1{
            font-size: 22px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                height: 30px;
                width: 30px;
                background: red;
                border-radius: 50%;
                display: grid;
                place-content: center;
                cursor: pointer;
            }
        }
        form{
            margin-top: 20px;
            label{
                display: block;
                margin-bottom: 6px;
            }
            input{
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
            }
            select{
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
            }
            button{
                width: 100%;
                padding: 10px;
            }
        }
    }
    .active{
        background: black;
        color: white;
    }
    .store_products_filter{
        div{
         background: white;
         width: 300px;
         display: flex;
         align-items: center;
         margin-bottom: 10px;
         padding: 5px 10px;
         color: black;
         input{
             padding: 10px;
             border: none;
             width: 100%;
             outline: none;
         }
        }
        
     }
}